__pycache__
.mypy_cache
*.pyc
*.json
*.env
*.so
*.service
*.exe
.venv
.idea
.vscode
fonts
nppBackup
command_search.c
max_prefix_weights
eros.py

# rust build dir
target
# too noisy, no need for it to be here
Cargo.lock